.grid-container {
    background-color: #ffffff;
    margin: auto;
    align-items: center;
  }
  
.grid {
  white-space: pre;
}

.secondDiv{
  margin-top: -2%;
  margin-bottom: 5px;
}

button {
  margin: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  font-weight: 200;
}