/* Default styles for larger screens */
.firstDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.primaryButton,
.secondaryButton {
  margin: 5px;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primaryButton {
  background-color: #006eff;
  color: white;
}

.secondaryButton {
  background-color: #f44336;
  color: white;
}

.primaryButton:hover,
.secondaryButton:hover {
  background-color: #45a049;
}

.grid-container {
  margin-top: 10px;
}

.grid {
  border-collapse: collapse;
}
